<ion-view title="로그인" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page7-form2" class="list ">
            <ion-list id="page7-list2" class=" ">
                <label class="item item-input " id="page7-input1">
                    <span class="input-label">아이디</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="page7-input2">
                    <span class="input-label">비밀번호</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 21px;"></div>
            <ion-checkbox>로그인유지</ion-checkbox>
            <ion-checkbox>비밀번호 저장</ion-checkbox>
            <button id="page7-button1" class=" button button-royal  button-block ">로그인</button>
            <button id="page7-button5" class=" button button-assertive  button-block icon-left ion-social-googleplus ">Sign in with Google</button>
            <button id="page7-button6" class=" button button-positive  button-block ">Tap me!</button>
            <button id="page7-button4" class=" button button-positive  button-block ">Tap me!</button>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="page7-button2" class=" button button-positive  button-block button-clear ">회원가입</a>
            <button id="page7-button7" class=" button button-positive  button-block ">비밀번호가 기억안나세요?</button>
        </form>
    </ion-content>
</ion-view>