<head>
  <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
  <script src="http://code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
</head>

<ion-view title="홈" id="page2" class=" ">


    <ion-content padding="true" class="has-header">
    <div class="bar bar-header bar-positive">
  <h1 class="title">bar-positive</h1>
</div>
<div class="bar bar-header">
  <button class="button icon ion-navicon"></button>
  <h1 class="title">Header Buttons</h1>
  <button class="button" href="http://jnjhouse.ipdisk.co.kr/beyondthewardrobe/index.php/product-category/clothing/">Edit</button>
</div>
  <ion-slide-box on-slide-changed="slideHasChanged($index)" >
  <ion-slide>
    <div class="box" style="margin: 0px; line-height: 200px; text-align: center; background-color: rgb(256, 256, 256);">
        <i class="icon ion-image" style="font-size: 32px; color: rgb(136, 136, 136); vertical-align: middle;">이벤트</i>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box" style="margin: 0px; line-height: 200px; text-align: center; background-color: rgb(232, 235, 239);">
        <i class="icon ion-image" style="font-size: 32px; color: rgb(136, 136, 136); vertical-align: middle;">공지사항</i>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box" style="margin: 0px; line-height: 200px; text-align: center; background-color: rgb(256, 256, 256);">
        <i class="icon ion-image" style="font-size: 32	px; color: rgb(136, 136, 136); vertical-align: middle;">의료관광 뉴스</i>
    </div>
  </ion-slide>
      <ion-slide>
    <div  style="margin: 0px; line-height: 200px; text-align: center; background-color: rgb(232, 235, 239);">
        <i class="icon ion-image" style="font-size: 32px; color: rgb(136, 136, 136); vertical-align: middle;">어플홍보</i>
    </div>
  </ion-slide>
  </ion-slide-box>
        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <div class="adbanner" style="margin: 0px; line-height: 100px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 32px; color: rgb(136, 136, 136); vertical-align: middle;">배너광고</i>
        </div>
        <button id="page2-button17" class=" button button-positive  button-block half_button" href="page3">Tap me!</button>
        <a href="http://ezmile.co.kr/wp-login.php"><button id="page2-button18" class=" button button-positive  button-block half_button">Tap me!</button></a>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
    </ion-content>
</ion-view>
