<ion-view title="견적함" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page3-form1" class="list ">
            <label class="item item-select " id="page3-select1">
                <span class="input-label">Select</span>
                <select>
                    <option></option>
                </select>
            </label>
        </form>
        <iframe scroll="no" ng-src="http://www.ezmile.co.kr/view-product/" style="width:100%; height: 300px;"></iframe>
       <div class="list">
            <a class="item" href="#" onclick="window.open('http://www.ezmile.co.kr', '_self', 'location=yes'); return false;">
                Open a Browser
            </a>
            <a class="item" href="#" onclick="window.open('http://www.twitter.com/nraboy', '_system', 'location=yes'); return false;">
                Open a Twitter Client or Browser
            </a>
            <a class="item" href="#" onclick="window.open('https://plus.google.com/+NicRaboy', '_system', 'location=yes'); return false;">
                Open a Google+ Client or Browser
            </a>
        </div>
    </ion-content>
</ion-view>
