<ion-view title="회원가입" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="page8-markdown2" style="color:#000000;" class=" ">내정보</p>
        <form id="page8-form3" class="list ">
            <ion-list id="page8-list3" class=" ">
                <label class="item item-input " id="page8-input3">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="page8-input4">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="page8-input5">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="page8-input7">
                    <span class="input-label">Input</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="page8-input6">
                    <span class="input-label">Input</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <label class="item item-input " id="page8-input8">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="page8-input9">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <button id="page8-button3" class=" button button-stable  button-block ">회원가입</button>
        </form>
    </ion-content>
</ion-view>